@keyframes rot {
  0% {
    transform: rotate(0deg) scale(.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes fade {
  from {
    opacity: .15;
  }
  to {
    opacity: 1;
  }
}

@keyframes rect {
  from {
    border-radius: 50%;
  }
}

.a {
  width: 100px;
  height: 100px;
  margin: 100px 0 0 100px;
  background-color: #E91E63;
  border-radius: 8.75%;
  background-image: url('/sc.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 18px 16px;
  box-shadow: 0 0 100px 0px teal;

  animation:
    rot 1s infinite alternate,
    fade 1s infinite alternate,
    rect 1s infinite alternate;
}