#appl {
  background-color: #fff;
  border-radius: 2px;
  margin: 2.5vh auto;
  height: 95vh;
  width: 98%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;

  & .main {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 1280px) {
  #appl {
    & .logo {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    & .stat {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }
}

@media screen and (max-width: 860px) {
  #appl {
    & .logo {
      grid-column: 1 / 2;
      grid-row: 1;
    }
    & .stat {
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }
}

@media screen and (max-width: 640px) {
  #appl {
    & .main {
      grid-column: 1 / 4;
      grid-row: 2;
    }
    & .sidebar {
      grid-column: 1 / 4;
      grid-row: 3;
    }
  }
}

@media screen and (max-width: 540px) {
  #appl {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr 1fr auto auto auto;

    & .logo {
      grid-column: 1 / 4;
      grid-row: 1;
    }
    & .stat {
      grid-column: 1 / 4;
      grid-row: 2;
    }
    & .phones {
      grid-column: 1 / 4;
      grid-row: 3;
    }

    & .main {
      grid-column: 1 / 4;
      grid-row: 4;
    }

    & .sidebar {
      grid-column: 1 / 4;
      grid-row: 5;
    }

    & .sm {
      grid-column: 1 / 4;
      grid-row: 6;
    }

    & .disclaimer {
      grid-column: 1 / 4;
      grid-row: 7;
    }

    & .login {
      grid-column: 1 / 4;
      grid-row: 8;
    }
  }
}
