body {
  margin: 0;
  background: #112427;
}

img-frame {
  margin: 0;
  display: block;
  position: static;
}

#app {
  margin: 5vh 0 0 25vw;
  border: 1px solid grey;
}

.slide {
  width: 100vw;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  & img {
    height: 25vh;
    scroll-snap-align: center;
  }
}

#d {
  color: wheat;
}

#grid {
  background-color: #e4feff;
  margin: 50px 25px;
  border-radius: 2px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px;

  /* grid-template-areas:
    "i1 i2"
    "i3 i4";

  & .item1 {
    grid-area: i1;
  }

  & .item2 {
    grid-area: i2;
  }

  & .item3 {
    grid-area: i3;
  }

  & .item4 {
    grid-area: i4;
  } */
}

@media screen and (max-width: 1024px) {
  #grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;

    & .item2 {
      grid-column: 1;
      grid-row: 1;
    }

    & .item3 {
      grid-column: 2;
      grid-row: 1;
    }

    & .item1 {
      grid-column: 1;
      grid-row: 2;
    }

    & .item4 {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

@media screen and (max-width: 680px) {
  #grid {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 150px 150px;

    & .item2 {
      grid-column: 1 / 2;
      grid-row: 2;
    }

    & .item3 {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    & .item1 {
      grid-column: 1 / 2;
      grid-row: 4;
    }

    & .item4 {
      grid-column: 1 / 2;
      grid-row: 3;
    }
  }
}
