:root {
  --bg: #677786;
  --canvasBg: #fff;
  --canvasW: 500px;
  --canvasH: 500px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Tahoma, sans-serif;
}

#header,
#app {
  width: var(--canvasW);
}
#header {
    font-weight: 500;
    color: var(--canvasBg);
    letter-spacing: 2px;
}

#app {
  background-color: var(--canvasBg);
  height: var(--canvasH);
}
