<!DOCTYPE html>
<html>
    <head>
        <meta charset="<%= htmlWebpackPlugin.options.charset %>">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <script type="module">
            import name from "/test.mjs";
            console.log(name);
        </script> -->
        <!-- <script type="module">
            import '/custom/custom-element.js'
        </script> -->
    </head>
    <body>
        <!-- uncomment it! 
        <img-frame pic="process.jpg"></img-frame>
        <img-frame pic="girl.jpg"></img-frame>
        -->

        <!-- <div class="a"></div> -->
        <!-- <h1 id="header">Cube</h1> -->
        <!-- <canvas id="<%= htmlWebpackPlugin.options.appSelector %>" width="400" height="400">
            Please use a browser that supports “canvas”
        </canvas> -->
        <!-- <art-cst id="art"></art-cst>

        <button id="btn" is="cst-btn"></button>
        <art-element></art-element> -->
        <!-- <div id="d">
        </div>
        <button id="b">Download</button>
        <input id="file" type="file"> -->
        
        <!-- <div class="slide">
            <img src="/1.jpg" alt="">
            <img src="/2.jpeg" alt="">
            <img src="/3.jpeg" alt="">
            <img src="/mopsocopter.jpg" alt="">
        </div> -->

        <div id="appl">
            <div class="logo">logo</div>
            <div class="stat">1000 memebrs</div>
            <div class="phones">+38012 345-67-89</div>
            <div class="main">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum</p>
                <div>
                    <input type="text" value="123" id="test">
                    
                    
                </div>
                <div>
                    <theme light>
                        <wrap-tag></wrap-tag>
                    </theme>
                </div>
            </div>
            <div class="sidebar">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="sm">
                <li>
                    <li>fb</li>
                    <li>instagram</li>
                    <li>reddit</li>
                </li>
            </div>
            <div class="disclaimer">we may not</div>
            <div class="login">
                <button>Login</button>
            </div>
            
        </div>

    </body>
</html>